/* responsive grid */

.page-wrap {
    flex-wrap: wrap;
}

.box,
.chart-box
{
    display: inline-block;
    padding: 0;
    vertical-align: top;
}

.box h3 {
    padding: 3px;
}

.one-col {
    width: 48%;
    display: inline-table;
}

.two-col {
    width: 97%;
    margin: 0 auto;
}

.inner-box {
    padding: 6px;
}